h1 Question

h2 = @question.title
p  = @question.body

- if user_signed_in? && current_user.author?(@question)
  p = link_to 'Delete the question', @question, method: :delete

h2 Answers

.answers
  = render @question.answers.from_the_best

= render 'answers/form', question: @question, answer: @answer